.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 50%) 15%,
        hsl(218, 41%, 40%) 35%,
        hsl(218, 41%, 30%) 75%,
        hsl(218, 41%, 25%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 60%) 15%,
        hsl(218, 41%, 40%) 35%,
        hsl(218, 41%, 30%) 75%,
        hsl(218, 41%, 25%) 80%,
        transparent 100%);
  }
  
  
  
  
  
  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
    border: 5px solid #ad1fff !important;
    border-radius: 20px;
  }
  .logoStyle
  {
      color: #ad1fff;
  }
  .inputStyle
  {
      border: 2px solid #ad1fff !important;
  }
  .BtnStyle
  {
      background-color: #ad1fff;
      border: 3px solid #ad1fff !important;
      height: 40px;
      width:150px;
      color:#fff;
      font-weight: bold;
      border-radius: 20px;
      font-size: 18px;
  }
  .iconStyle
  {
      font-size: 30px;
  
      
  }
  .googleIcon
  {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .gitIcon
  {
    color:black
  }
  .err
  {
    color: red;
    font-weight: bold;
    margin-top: 5px;

  }